<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/apple-icon.png" />
      <link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/favicon.png" />
      <title>Sign In</title>
      <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
      <meta name="viewport" content="width=device-width" />
      <!-- CSS Files -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/css/styles.css" rel="stylesheet" />
      <!-- Fonts and Icons -->
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
       <!-- SweetAlert -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
   </head>
   <body>
      <div class="image-container set-full-height">
         <div class="header">
            <div class="logosection">	    	
               <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/new_logo.png"></a>
            </div>
         </div>
         <!--   Big container   -->
         <div class="container">
            <div class="row">

            <div class="col-sm-4 col-sm-offset-4">
                  <!--      Wizard container        -->
                  <div class="wizard-container">
                     <div class="wizard-header1">
                        <div class="signuphead">Login</div>
                     </div>
                     <div class="signupbody">
                        <div class="card wizard-card" data-color="green" >
                           <form action="" method="post">
                              <div class="row">
                                 <div class="col-sm-10 col-sm-offset-1">
                                    <div class="col-sm-12">
                                       <div class="wizard-header1">
                                          <h4  class="signupcz">Sign in to your account</h4>
                                       </div>
                                       <div class="row">
                                          <div class="col-sm-12">
                                             <label>Email</label>
                                             <input type="email" id="email" class="form-control" placeholder="" required/>
                                             <span id="email_span" style="color:red;"></span>
                                          </div>
                                       </div>
                                       <div class="row">
                                          <div class="col-sm-12">
                                             <label>Password</label>
                                             <input type="password" id="password" class="form-control" placeholder="" required/>
                                             <span id="password_span" style="color:red;"></span>
                                          </div>
                                       </div>
                                       <div class="row">
                                          <input type="submit" name="submit" id="login" class="submitlink" value="Login">
                                       </div>
                                       <hr style="height:1px;background:rgba(58, 98, 124, 0.32);    margin: 0px;">
                                          <div class="prenextlinks">
                                             <div class="signinlink2"><a href="#">Don't have an accout?</a></div>
                                             <div class=" signuplink pull-right" ><a href="/forgotpassword"><small>forgot password?<small></a></div>
                                             <div class="signuplink"><a href="/signup">Sign Up!</a></div>
                                          </div>
                                          

                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
                  <!-- wizard container -->
               </div>               
            </div>
            <!-- row -->
         </div>
         <!--  big container -->
      </div>
   </body>
   <!--   Core JS Files   -->
   <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
   <!--  Plugin for the Wizard -->
   <script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
   <script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
   <script>
      $(document).ready(function(){			
      	//$("#basketone").show();
      	$("#baskettwo").show();
      
      	//$("#planone").show();
      	$("#plantwo").show();	
      
      	//$("#paymentone").show();
      	$("#paymenttwo").show();	
      });
   </script>
   <script>
      $(document).ready(function(){
            $("#login").click(function(e){
                  e.preventDefault();
                  var user= new Object();
                   var email=$('#email').val();
                   var password=$('#password').val();
                   if(email==="")
                   {
                         document.getElementById('email_span').innerHTML='this field is required';
                   }
                   else if(password==="")
                   {
                        document.getElementById('password_span').innerHTML='this field is required';
                   }
                  else{
                        window.localStorage.setItem('email', email);
                  $.ajax({
                    type:'POST',
                    url:'/login',
                    data:{email:email,password:password},
                    success:function(res){
                        alert(res.status);
                        //swal("Welcome!", "Successfully Login!", "success");
                        //console.log("suma:"+data.email);
                        if(res.status=="Successfully logged in!")
                        {
                              window.localStorage.setItem('token', res.token);
                              window.localStorage.setItem('storeName', res.storeName);
                              console.log("local storage value : "+window.localStorage.getItem('token'));
                              const url="https://"+res.storeName+".cadenza.tech";
                              if(res.first_time=='yes')
                                    window.location="/product";
                              else
                                    window.location="/dashboard";
                        }
                        else{
                              window.location="/";
                        }
                    },
                    error:function(jqXHR, textStatus, errorThrown){
                    alert('error: ' + textStatus + ': ' + errorThrown);
                    console.log(errorThrown);
                    }
                  });
                  } 
                 
            });
        });
      </script>		
</html>