<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/favicon.png" />
	<title>Store_Setup_Product</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <link href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/css/styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosectionpro">	    	
			    <a href="#"><img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">

		            	<div class="wizard-header1">
	                       <div class="signuphead">CADENZA SETUP</div>
	                    </div>
	                    <div class="signupbody">
			                <div class="card wizard-card" data-color="green" id="wizard">
			                	<form action="" method="POST"  enctype="multipart/form-data">			                		
			                        <div class="tab-content">
			                            <!-- PRODCT STARTED HERE -->
			                            <div class="tab-pane active" id="product">
			                            	<div class="row">
			                                	<div class="col-sm-12">
			                                    	<div class="wizard-header">
							                        	<h4 class="wizard-title">Setup your store by adding products</h4>
							                        	<p class="category">Clients will be able to view and search these fields, and purchase these products.</p>
							                    	</div>


							                    	<!-- WIzard starts here -->
										            <div class="row">
										               <div class="col-sm-12">
										                  <ol class="steps">
										                     <li class="steps__item  steps__item--active  steps__item--first"><a href="#" class="steps__link">Product</a></li>
										                     <li class="steps__item" disabled="disabled"><span class="steps__link">Subscription</span></li>
										                     <li class="steps__item" disabled="disabled"><span class="steps__link">Plan</span></li>
										                     <li class="steps__item" disabled="disabled"><span class="steps__link">Payment</span></li>
										                  </ol>  
										               </div>
										            </div>
										         <!-- WIZARD ENDS HERE -->
							                    	
							                    	
							                    	<!-- Product Information starts here -->
							                    	<div class="col-sm-12">
								                    	<div class="wizard-header">
								                        	<h4 class="newproduct">Product Information</h4>
								                        	<div class="italica">You currently have <span id="products_count"></span> products</div>
								                        	<hr class="hrhere">
								                        </div>
														<div class="col-sm-8">
															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Product Name <span style="color:red;">*</span>:</label>
																	<div class="form-group">
																		<input type="text" class="form-control" id="title" value="" name="title" required/>
																		<span id="title_span" style="color:red;"></span>
												                	</div>
																</div>
															</div>
															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Product SKU <span style="color:red;">*</span>:</label>
																	<div class="form-group">
												                    	<input type="text" class="form-control" id="collectionId" value="<%=SKU%>" readonly>
												                	</div>
																</div>
															</div>
															<div class="col-sm-12">

																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Product Description <span style="color:red;">*</span>:</label>
																	<div class="form-group">
																		<textarea  id="description" rows="2" cols="50" maxlength="60" required/></textarea>
																		<span id="description_span" style="color:red;"></span>
												                	</div>
																</div>
															</div>
															<div class="col-sm-12">
																<div class="choice" data-toggle="wizard-checkbox">
																		<div class="form-group" style="width:450px;">
																			<input type="text" class="form-control" id="productUrl" readonly>
																		</div>
																</div>
															</div>	
														</div>
														<div class="col-sm-4">		
															<div class="col-sm-12">
																<label class="labelew">Product Image <span style="color:red;">*</span>:</label>
																<div class="picture-container">
																	<div class="picture">
																		<img src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
																		<input type="file" id="wizard-picture" name="image" required>
																	</div>
																	<h6 style="text-transform:capitalize">Upload</h6>
																	<div class="uploadsize">(Max 32mb | .jpg, .png)</div>
																	<span id="image_span" style="color:red;"></span>
																</div>
															</div>
														</div>		
													</div>	
													<!-- Product information ends here -->
													<!-- Pricing Starts here -->
													<div class="col-sm-12">
								                    	<div class="wizard-header">
								                        	<h4 class="newproduct">Pricing</h4>
								                        	<hr class="hrhere">
								                        </div>
														<div class="col-sm-8">
															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Retail Price<span style="color:red;">*</span>:</label>
																	<div class="form-group">
																		<input type="text" class="form-control" id="retail_price" value="" style="color: #00af54;" required/>
																		<span id="retail_price_span" style="color:red;"></span>
												                	</div>
																</div>
															</div>
															<div class="col-sm-6">
																<div class="choice" data-toggle="wizard-checkbox">
																	<label class="labelew">Subscription Discount <span style="color:red;">*</span>:</label>
																	<div class="form-group">
																		<input type="text" class="form-control" id="discount" value="" required/>
																		<span id="discount_span" style="color:red;"></span>
												                	</div>
																</div>
															</div>
														</div>
														<div class="col-sm-4">	
															<div class="col-sm-12">
																<input type="submit" id="post_product" name="submit" class="submitlinknew" value="Next">
															</div>
														</div>		
													</div>
													<!-- Pricing ends here -->
			                            		</div>
			                            	</div>
			                            </div>
			                            <!-- PRODCT END HERE -->
			                        </div>
			                	</form>
			                </div>
			            </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->   
	</div>

	<!-- MOdal starts here -->  
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <h4 class="modal-title">Your Product is successfully added</h4>
		</div>
		<div class="modal-body" id="model_body">
		</div>
		<div class="modal-footer">
		  <button type="button" id="singleProducts" class="btn btn-default" data-dismiss="modal">close</button>
		</div>
	  </div>
	</div>
</div>
<!-- Modal ends here -->

</body>

	<!--   Core JS Files   -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="https://s3.ap-south-1.amazonaws.com/cadence-assets/assets1/js/jquery.validate.min.js" type="text/javascript"></script>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

	<script>
		$(document).ready(function(){
			var storeName=window.localStorage.getItem('storeName')
			//$("#basketone").show();
			$("#baskettwo").hide();

			//$("#planone").show();
			$("#plantwo").hide();	

			//$("#paymentone").show();
			$("#paymenttwo").hide();

			var nameField = document.getElementById('title');
			var lastNameValue = undefined;

			updateNameDisplay();

			setInterval(updateNameDisplay, 100);

			function updateNameDisplay() {
			var thisValue = nameField.value || "??";
			//console.log("suma: "+ thisValue);
			if (lastNameValue != thisValue) {
				//console.log("suma1: "+ thisValue);
				//document.getElementById('productUrl').innerHTML = lastNameValue = thisValue;
				$("#productUrl").val("https://"+storeName+".cadenza.tech/product/"+$("#collectionId").val());
			}
			}
			
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			var products
			var token=window.localStorage.getItem('token');
			$.ajax({
					url:'http://ec2-13-126-101-159.ap-south-1.compute.amazonaws.com:8084/api/products/getallproducts',
					method:'GET',
					headers:{'token':token},
					success:function(data){
						 var p=JSON.stringify(data);
						 console.log("products data:"+ p);
						 products=JSON.parse(p);
						 console.log("products count:" + products.length);
						document.getElementById('products_count').innerHTML=products.length;	
					},
					error:function(jqXHR, textStatus, errorThrown){
							alert('error: ' + textStatus + ': ' + errorThrown);
						console.log(errorThrown);
					}
			});
			
		});
	
	
	</script>
	<script type="text/javascript">
		
		$(document).ready(function(){
			
			$("#post_product").click(function(e){
				e.preventDefault();
				var token=window.localStorage.getItem('token');
				var file=document.getElementById("wizard-picture").files[0];
				var collectionId=document.getElementById("collectionId").value;
				var description=document.getElementById("description").value;
				var retail_price =document.getElementById("retail_price").value;
				var discount =document.getElementById("discount").value;
				var title=document.getElementById("title").value;
				var price = retail_price-[(discount / 100) * retail_price];
				
				if(description==="")
				{
					document.getElementById('description_span').innerHTML='this field is required';
				}
				else if(file==="")
				{
					console.log("file:"+ file);
					document.getElementById('image_span').innerHTML='image is required';
				}
				else if(retail_price==="")
				{
					document.getElementById('retail_price_span').innerHTML='this field is required';
				}
				else if(discount==="")
				{
					document.getElementById('description_span').innerHTML='this field is required';
				}
				else if(title==="")
				{
					document.getElementById('title_span').innerHTML='this field is required';
				}
				else{
				formdata = new FormData(); 
				formdata.append("token",token);
				formdata.append("image",file);
				formdata.append("collectionId",collectionId);
				formdata.append("description",description);
				formdata.append("retail_price",retail_price);
				formdata.append("discount",discount);
				formdata.append("price",price);
				formdata.append("title",title);
				console.log("suma:"+ formdata);
				$.ajax({
				url:'http://ec2-13-126-101-159.ap-south-1.compute.amazonaws.com:8084/api/products/addproduct',
				method: 'POST',
				data:formdata,
				processData: false, 
				contentType: false,
				success:function(data){
					//console.log(JSON.stringify(data));
					var tab = "";
						tab+='<p>Would you like to add one more Product?</p>';
						tab+='<div class="pull-right">';
						tab+='<button type="button"  class="btn btn-default text-center yes">Yes</button>';
						tab+='</div>';
						tab+='<div class="pull-left">';
						tab += '<button type="button"  class="btn btn-default text-center no">No</button>';
						tab+='</div>';
						$('#model_body').html(tab);
						$('#myModal').modal('show');
	
				},
				error:function(jqXHR, textStatus, errorThrown){
						  alert('error: ' + textStatus + ': ' + errorThrown);
				  			console.log(errorThrown);
				  		}
					});
			
					}
			});
				
		});
	
		$(document).ready(function(e){
				$(document).on('click','.yes', addProduct);
			});
			function addProduct(){
				$('#myModal').modal('hide');
				//var storeName=window.localStorage.getItem('storeName');
				window.location="/product";
	
			}
			$(document).ready(function(e){
				$(document).on('click','.no', next);
			});
			function next(){
				$('#myModal').modal('hide');
				var storeName=window.localStorage.getItem('storeName');
				window.location="/basket?storeName="+storeName;
			}
		</script>
		

</html>
